:root {
	--color-main: hsl(315, 46%, 88%);
	--color-fade: hsl(315, 100%, 96%);}

body {
	display: block;
	min-height: 100vh;
	max-width: 95vw;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;

	background-image: linear-gradient(var(--color-main), var(--color-fade) 10%);
	background-size: 100vw 100%;

	font-family: arial, helvetica, clean, sans-serif;
	font-size: 90%;
	color: hsl(315, 23%, 46%);
}

body img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.window {
	padding: 5px;
	margin-bottom: 10px;

	background-color: white;
	border: 1px solid black;
}

.window .title {
	margin: -5px;
	padding: 5px;
	margin-bottom: 2px;

	background-color: var(--color-main);
}

.window .title img {
	float: right;

	cursor: pointer;
}

a, .link {
	cursor: pointer;
	text-decoration: none;
}

a:hover, .link:hover {
	text-decoration: underline;
}

.window a {
	color: inherit;
}

.window p {
	margin: 0;
}

.window .title h1 {
	margin: 0;
	text-align: left;
	font-size: 140%;
}

.hidden {
	display: none;
	width: 0;
	height: 0;
}

.title {
	text-align: center;
}

#post {
	color: black;
	width: 100%;
}

#post table {
	width: 100%;
}

#post th {
	padding-left: 5px;
	text-align: left;

	background-color: #9988EE;
	border: 1px solid black;
}

#post td input, textarea {
	width: 100%;
	height: 100%;
	margin: -1px 0;
	resize: vertical;
}

#post input[type="submit"] {
	text-align: center;
}

.post {
	overflow: auto;
}

.post .image {
	float: left;
	width: fit-content;
	margin: 5px;
}

.post .image p, a {
	width: fit-content;
	margin: 0
}

.post .image img {
	max-width: 30vw;
	max-height: 20em;
	margin: 0;
}

.post h1 {
	font-size: 110%;
}

.post h1 p {
	display: inline;
	margin: 0 5px;
	
	font-weight: normal;
}

.post .comment {
	font-size: 110%;
}

#reply {
	position: absolute;
}

#reply form {
	color: black;
	width: 100%;
}

#reply table {
	width: 100%;
}

#reply th {
	padding-left: 5px;
	text-align: left;

	background-color: #9988EE;
	border: 1px solid black;
}

#reply td input, textarea {
	width: 100%;
	height: 100%;
	margin: -1px 0;
	resize: both;
}

#reply input[type="submit"] {
	text-align: center;
}

.reply {
	overflow: auto;
	margin-left: 5%;
	margin-bottom: 5px;;
	background-color: var(--color-main);
}

.reply .image {
	float: left;
	width: fit-content;
	margin: 5px;
}

.reply .image p, a {
	width: fit-content;
	margin: 0
}

.reply .image img {
	max-width: 30vw;
	max-height: 20em;
	margin: 0;
}

.reply h1 {
	font-size: 110%;
}

.reply h1 p {
	display: inline;
	margin: 0 5px;
	
	font-weight: normal;
}

.reply .comment {
	font-size: 110%;
}
