body {
	background-color: var(--background);
	color: var(--text);
	font-family: "Gamja_Flower", "Knewave", "DynaPuff";
}

#logo {
	display: block;
	width: 10%;
	height: fit-content;
	max-height: 2cm;
	margin-left: auto;
	margin-right: auto;
}

#title {
	display: block;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;

	color: var(--main);
	font-size: 3vh;
}

.thread {
	width: calc(100% - 2vh);
	height: fit-content;
	padding: 0.5vh 1vh;
	border-radius: 32px;

	background-color: var(--dim);
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.thread .img {
	display: inline-block;
	vertical-align: middle;
	max-width: 50vh;
}

.thread .img img {
	width: 100%;
}

.thread .content {
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 50vh);
	margin-left: 1vh;
}

.thread .content p {
	margin: 0;
}

.thread .message {
	background-color: #0008;
	margin-left: 10vh;
	margin-top: 1vh;
	width: calc(100% - 11.5vh);

	border-radius: 16px;
}