:root {
	--background: #272D2D;
	--text: #C7A8C7;
	--dim: #465151;
	--main: #AB7CAA;
	--shade: #955F94;
}

@font-face {
	font-family: "Gamja_Flower";
	src: url("../media/Gamja_Flower/GamjaFlower-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "DynaPuff";
	src: url("../media/DynaPuff/DynaPuff-VariableFont_wdth,wght.ttf") format("truetype");
}

@font-face {
	font-family: "Knewave";
	src: url("../media/Knewave/Knewave-Regular.ttf") format("truetype");
}